In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Kapaa,22.0752,-159.3190,82.38,73,75,3.00,US,2021-05-29 03:16:17
1,1,Westport,41.1415,-73.3579,50.76,94,100,1.99,US,2021-05-29 03:13:06
2,2,Rikitea,-23.1203,-134.9692,76.77,77,76,20.74,PF,2021-05-29 03:16:24
3,3,Saint-Philippe,-21.3585,55.7679,68.22,77,25,2.73,RE,2021-05-29 03:16:15
4,4,Albany,42.6001,-73.9662,45.09,92,100,4.61,US,2021-05-29 03:16:14

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key = g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Kapaa,22.0752,-159.3190,82.38,73,75,3.00,US,2021-05-29 03:16:17
2,2,Rikitea,-23.1203,-134.9692,76.77,77,76,20.74,PF,2021-05-29 03:16:24
9,9,Tateyama,34.9833,139.8667,80.15,83,100,22.75,JP,2021-05-29 03:24:11
13,13,Hilo,19.7297,-155.0900,82.27,74,75,8.05,US,2021-05-29 03:12:14
14,14,Lekoni,-1.5843,14.2591,75.49,72,63,2.53,GA,2021-05-29 03:24:12
23,23,Sabha,27.0377,14.4283,85.41,14,7,12.35,LY,2021-05-29 03:24:12
25,25,Along,28.1667,94.7667,81.23,70,100,0.72,IN,2021-05-29 03:24:13
29,29,Tual,-5.6667,132.7500,81.81,78,38,22.21,ID,2021-05-29 03:24:13
33,33,Adrar,20.5022,-10.0711,85.86,18,8,14.74,MR,2021-05-29 03:17:31
37,37,Vaini,-21.2000,-175.2000,77.16,78,75,3.44,TO,2021-05-29 03:16:15

In [12]:
preferred_cities_df.count()

City_ID       171
City          171
Lat           171
Lng           171
Max Temp      171
Humidity      171
Cloudiness    171
Wind Speed    171
Country       171
Date          171
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

        City Country  Max Temp      Lat       Lng Hotel Name
0      Kapaa      US     82.38  22.0752 -159.3190
2    Rikitea      PF     76.77 -23.1203 -134.9692
9   Tateyama      JP     80.15  34.9833  139.8667
13      Hilo      US     82.27  19.7297 -155.0900
14    Lekoni      GA     75.49  -1.5843   14.2591
23     Sabha      LY     85.41  27.0377   14.4283
25     Along      IN     81.23  28.1667   94.7667
29      Tual      ID     81.81  -5.6667  132.7500
33     Adrar      MR     85.86  20.5022  -10.0711
37     Vaini      TO     77.16 -21.2000 -175.2000

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()

    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [15]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Kapaa,US,82.38,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
2,Rikitea,PF,76.77,-23.1203,-134.9692,Pension Maro'i
9,Tateyama,JP,80.15,34.9833,139.8667,Tateyama Seaside Hotel
13,Hilo,US,82.27,19.7297,-155.0900,Hilo Hawaiian Hotel
14,Lekoni,GA,75.49,-1.5843,14.2591,Rendez-vous Des ChasseursD
...,...,...,...,...,...,...
539,Pratapgarh,IN,86.72,24.0333,74.7833,Ratna Hotel
540,Holalkere,IN,76.98,14.0333,76.1833,Hotel Sneha Comforts
541,Kidal,ML,88.93,18.4411,1.4078,
547,Kyabe,TD,79.57,9.4515,18.9449,
551,Atar,MR,85.96,20.5169,-13.0499,Oumou Elghoura

In [16]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [18]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [19]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))